.outer {
    height: 400px;
    width: 350px;
    border: 2px solid aquamarine;
    border-radius: 15px;
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

}
.outer div {
    height: 100px;
    width: 100px;
    border: 2px solid black;
    border-radius:15px ;
    text-align: center;
    font-size: 3em;
    background-color: grey;

}